.jobs {
  margin-top: 64px;
}

.inner {
  width: 100%;
  max-width: var(--width-base);
  margin: 0 auto;
  padding: 0 16px;
}

.notFound {
  font-size: 24px;
  text-align: center;
  margin-top: 64px;
}
