.jobs {
  margin-top: 64px;
}

.inner {
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 24px;
  border-radius: 4px;
  margin-bottom: 24px;
}

.description {
  margin-top: 4px;
}

.categoryName {
  display: block;
  font-size: 12px;
  margin-top: 16px;
}
