.job {
  margin-top: 48px;
}

.inner {
  width: 760px;
  margin: 0 auto;
  padding: 0 16px;
}

.title {
  margin-bottom: 20px;
}

.categoryName {
  margin-bottom: 40px;
}

.content {
  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    text-align: left;
  }

  th {
    position: relative;
    border: 1px solid #ccccd9;
    background-color: #f8f9fd;
    padding: 8px 8px;
    width: 120px;
  }

  td {
    position: relative;
    border: 1px solid #ccccd9;
    padding: 8px 8px;
  }
}
