.categories {
  margin-top: 32px;
}

.inner {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 16px;
}

.title {
  font-size: 32px;
  text-align: center;
}

.list {
  display: flex;
  margin-top: 18px;
}

.category {
  list-style: none;
  margin-right: 16px;
  margin-bottom: 16px;
}

.isActive {
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 12px;
  border-radius: 36px;
}

@media (max-width: 600px) {
  .list {
    display: flex;
    flex-wrap: wrap;
  }
}
