.categories {
  margin-top: 32px;
}

.inner {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  text-align: center;
}

.list {
  display: flex;
  margin-top: 18px;
}

.category {
  list-style: none;
  margin-right: 16px;
}

.isActive {
  color: #fff;
  background: #333;
  padding: 12px;
  border-radius: 36px;
}
